# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
.RData
catalogue.alpha.data.wa.gov.au
*.pdf
*.aux
*.bcf
*.idx
*.log
*.out
*.ptc
*.run.xml
*.toc
*-concordance.tex
*.tex
