internal-data.dpaw.wa.gov.au
discover-data.dpaw.wa.gov.au
*concordance.tex
*.tex
*.toc
*.aux
*.bbl
*.blg
*.bcf
*.idx
*.ilg
*.ind
*.ptc
*.log
*.out
*.run.xml
*.synctex.gz
*.pdf
*.timestamp
*.pyc
secret.py
cpr.csv
parks.json
catalogue.alpha.data.wa.gov.au
